<li>
	{{book_name}}
	{{!-- Add button html element here --}}

	<button class="change-read" data-id="{{id}}" data-newread="{{devour}}">
		{{#if devour}}GOOD JOB NERD!{{else}}PUT IT BACK!{{/if}}
	</button>

</li>