<li class="justify-content">
	<div class="justify-content">

		{{book_name}}
		{{!-- Add button html element here --}}
	
	<button class="change-read justify-content is-family-monospace" data-id="{{id}}" data-newread="{{devour}}">
		{{#if devour}}GOOD JOB NERD!{{else}}PUT IT BACK!{{/if}}
	</button>
</div>

</li>